<form>
    <div class="mb-3">
        <label for="inputTitle" class="form-label">Blog Title</label>
        <input class="form-control" id="inputTitle">
    </div>
    <div class="mb-3">
        <label for="inputText" class="form-label">Blog Text</label>
        <textarea class="form-control" id="inputText" rows="3"></textarea>
    </div>
    <button type="submit" class="btn btn-primary">Create</button>
</form>

<script src="/js/create.js"></script>