<form>
    <div class="mb-3">
        <label for="exampleInputEmail1" class="form-label">Username</label>
        <input type="username" class="form-control" id="input-username" aria-describedby="usernameHelp">
    </div>
    
    <div class="mb-3">
        <label for="inputPassword5" class="form-label">Password</label>
        <input type="password" id="input-password" class="form-control" aria-describedby="passwordHelpBlock">
    </div>
    <button type="submit" class="btn btn-primary">Submit</button>
    <a href="/signup">Sign up now!</a>
    <script src="./js/login.js"></script>
</form>